@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to the Enrollment System</h1>
<p>
    Use the navigation menu to manage students, courses, enrollments, schedules, and more.
</p>
